* {
    box-sizing: border-box;
    font-family: 'Comic Neue', cursive;
}

body {
    margin: 0;
}

.header {
    background-image: url('../img/genshin.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding: 10% 20px;
    text-align: center;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    font-size: 20px;
    padding: 5px 15%;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.4s;
    background-color: white;
}

li {
    float: left;
    width: 25%;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: grey;
}

.one-column {
    padding: 7%;
    float: left;
    width: 100%;
}

.two-column {
    float: left;
    padding: 7%;
    width: 50%;
}

.two-column img {
    width: 100%;
}

.four-column {
    padding: 7%;
    float: left;
    width: 25%;
}

#footer {
    color: white;
    background-color: black;
}

#footer h1 {
    float: left;
}

@media screen and (max-width:600px) {
    .two-column,
    .four-column,
    .three-column {
        width: 100%;
    }
    li a {
        font-size: 5vw;
    }
    ul {
        padding: 0px;
    }
}